.page-home {
  h5 {
    font-weight: 300;
    margin-bottom: 15px;
  }

  .store-trend-categories {
    margin-top: 30px;
  }

  .store-new-product {
    margin-top: 10px;
  }
}

.page-auth {
  h5 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 30px;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    color: #CBCBCB;
  }
}