.scrollspy-example {
    width: 850px;
    height: 580px;
    padding-left: 12px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    margin-top: 20px;

}

.page-info-talim {
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    padding: 20px 10px 20px 20px;
    width: 820px;
    height: 120px;

    @include media-breakpoint-down(md) {
        width: 520px;
        height: 140px;
    }


    .align-middle {
        font-weight: 500;
        color: #49495D;
        margin-top: 14px;
        font-size: 14px;

    }

    .isi-talim {
        margin-left: 60px;

        @include media-breakpoint-down(md) {
            margin-left: 0px !important;
            width: 220px;
        }

        .isi-1 {
            font-weight: 600;
            font-size: 18px;
            color: #408147;

            @include media-breakpoint-down(md) {
                font-size: 12px;

            }
        }

        .isi-2 {
            color: #49495D;
            font-weight: 400;
            font-size: 16px;

            @include media-breakpoint-down(md) {
                font-size: 12px;
            }
        }

        .isi-3 {
            font-weight: 300;
            font-size: 16px;
            color: #A9ADB4;

            @include media-breakpoint-down(md) {
                font-size: 12px;
            }
        }

    }

    .button-veiw-detail {
        text-align: center;
        color: #ffff;

    }

}

.upcoming-talim {
    width: 358px;
    height: 550px;
    border: 1px solid #E5E5E5;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 8px;

    h5 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        padding-top: 20px;
    }

    .isi-1 {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 0px !important;
        color: #000000;
        margin-top: 10px;
    }

    .isi-2 {
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 0px !important;
        color: #000000;
        margin-top: 4px;
    }

    .isi-3 {
        font-weight: 400;
        font-size: 14px;
        margin-top: 4px;
        color: #C4C4C4;
    }


    .card-img {
        width: 318px;
        height: 349px;
    }
}